In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.datasets import make_regression
import seaborn as sns

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

In [59]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [77]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
X_train,X_test,y_train,y_test=train_test_split(
    df.iloc[:,0:-1],df.iloc[:,-1],test_size=0.2,
    random_state=2
)

model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)

print("the mean squared error is ",mse)

r2=r2_score(y_test,y_pred)

print('the r2 score is ',r2)

the mean squared error is  18.495420122448426
the r2 score is  0.7789207451814415

In [79]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load dataset
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

r2_score_list = []
mse_list = []
random_states = range(1, 101)   # check random_state from 1 to 100

for rs in random_states:
    X_train, X_test, y_train, y_test = train_test_split(
        df.iloc[:, :-1], df.iloc[:, -1],
        test_size=0.2,       # fixed at 20% test size
        random_state=rs
    )
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    mse_list.append(mse)
    r2_score_list.append(r2)

# Find best random state for highest R²
best_r2_idx = r2_score_list.index(max(r2_score_list))
best_r2_state = random_states[best_r2_idx]

# Find best random state for lowest MSE
best_mse_idx = mse_list.index(min(mse_list))
best_mse_state = random_states[best_mse_idx]

print("Best Random State for Highest R²:", best_r2_state, "with R² =", max(r2_score_list),"with mse as ",mse_list[best_r2_state])
print("Best Random State for Lowest MSE:", best_mse_state, "with MSE =", min(mse_list),"with r2 score as ",r2_score_list[best_mse_state])

Best Random State for Highest R²: 85 with R² = 0.8300388580559297 with mse as  27.39119081430053
Best Random State for Lowest MSE: 46 with MSE = 13.510777780095637 with r2 score as  0.7129922974700806

nan

In [61]:
# X_test

In [41]:
# y_test

173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
       ...
412    17.9
436     9.6
411    17.2
86     22.5
75     21.4
Name: medv, Length: 102, dtype: float64

In [42]:
# y_train

477    12.0
15     19.9
332    19.4
423    13.4
19     18.2
       ...
106    19.5
270    21.1
348    24.5
435    13.4
102    18.6
Name: medv, Length: 404, dtype: float64

In [44]:
y_pred

array([28.99672362, 36.02556534, 14.81694405, 25.03197915, 18.76987992,
       23.25442929, 17.66253818, 14.34119   , 23.01320703, 20.63245597,
       24.90850512, 18.63883645, -6.08842184, 21.75834668, 19.23922576,
       26.19319733, 20.64773313,  5.79472718, 40.50033966, 17.61289074,
       27.24909479, 30.06625441, 11.34179277, 24.16077616, 17.86058499,
       15.83609765, 22.78148106, 14.57704449, 22.43626052, 19.19631835,
       22.43383455, 25.21979081, 25.93909562, 17.70162434, 16.76911711,
       16.95125411, 31.23340153, 20.13246729, 23.76579011, 24.6322925 ,
       13.94204955, 32.25576301, 42.67251161, 17.32745046, 27.27618614,
       16.99310991, 14.07009109, 25.90341861, 20.29485982, 29.95339638,
       21.28860173, 34.34451856, 16.04739105, 26.22562412, 39.53939798,
       22.57950697, 18.84531367, 32.72531661, 25.0673037 , 12.88628956,
       22.68221908, 30.48287757, 31.52626806, 15.90148607, 20.22094826,
       16.71089812, 20.52384893, 25.96356264, 30.61607978, 11.59783023,
       20.51232627, 27.48111878, 11.01962332, 15.68096344, 23.79316251,
        6.19929359, 21.6039073 , 41.41377225, 18.76548695,  8.87931901,
       20.83076916, 13.25620627, 20.73963699,  9.36482222, 23.22444271,
       31.9155003 , 19.10228271, 25.51579303, 29.04256769, 20.14358566,
       25.5859787 ,  5.70159447, 20.09474756, 14.95069156, 12.50395648,
       20.72635294, 24.73957161, -0.164237  , 13.68486682, 16.18359697,
       22.27621999, 24.47902364])

In [45]:
mse=mean_squared_error(y_test,y_pred)

print("the mean squared error is ",mse)

r2=r2_score(y_test,y_pred)

print('the r2 score is ',r2)

the mean squared error is  24.291119474973534
the r2 score is  0.6687594935356318

In [33]:
y_pred

array([12.07495986, 26.9894969 , 17.58803353, 18.15584511, 36.92091659,
       25.43267386, 31.09256932, 19.72549907, 19.66103377, 22.96358632,
       28.38841214, 28.48925986, 18.99690357, 32.41097504, 21.52350275,
       15.25945122, 21.23364112, 11.6220597 , 11.37109662, 13.63515584,
        5.62431971, 17.35323315, 20.80951594, 22.51311312, 16.39055556,
       20.32352451, 17.88994185, 14.23445109, 21.1187098 , 17.50765806,
       14.54295525, 23.63289896, 34.32419647, 22.23027161, 16.82396516,
       20.16274383, 30.67665825, 35.61882904, 23.50372003, 24.66451121,
       36.91269871, 32.33290254, 19.11785719, 32.19546605, 33.42795148,
       25.52705821, 40.63477427, 18.21762788, 19.34587461, 23.80167377,
       33.42122982, 26.1451108 , 18.10363121, 28.19906437, 13.37486655,
       23.34019279, 24.44952678, 33.54973856, 16.71263275, 36.56402224,
       15.69684554, 18.55447039, 32.14543203, 15.49568061, 39.02363234,
       27.38174402, 31.96333419, 10.09436162, 19.13214621, 21.73038157,
       23.14682001, 22.82615401, 22.51245566, 28.21477189, 17.13262484,
       23.08039019, 16.65978367, 25.17892617, 13.68806399, 19.8195139 ,
       22.31237842, 20.24637447, 28.35989119, 19.12635952, 30.49206633,
       22.25649076, 29.98229473, 19.27750127, 23.73890345, 38.32216452,
       31.24781499, 41.92137782, 18.61466511, 37.47526878, 19.66151941,
       23.44504636, 26.55358092, 22.38454399,  9.59394823, 20.39499251,
        9.22793989, 27.36219976])

In [34]:
y_test

8      16.5
289    24.8
68     17.4
211    19.3
226    37.6
       ...
368    50.0
144    11.8
336    19.5
437     8.7
216    23.3
Name: medv, Length: 102, dtype: float64

In [35]:
X_train,X_test,y_train,y_test=train_test_split(
    df.iloc[:,0:-1],df.iloc[:,-1],test_size=0.2,
    random_state=2
)
mse=mean_squared_error(y_test,y_pred)


print("the mean squared error is ",mse)

r2=r2_score(y_test,y_pred)

print('the r2 score is ',r2)

the mean squared error is  125.75846611588628
the r2 score is  -0.5032147305635022

In [67]:
for i in range(0,12):
    print(2+i)

2
3
4
5
6
7
8
9
10
11
12
13